body{
    background-color: bisque;
    display: flex;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    border: 4px solid orange
}
.grid-square {
    border: 1px solid black;
    
}
.black-hover {
    background-color: black;
}
.grid{
    width: 120px;
    height: 80px;
}